fieldRNN-my_mod/data
fieldRNN-my_mod
latent_ode-my_mod/logs/
latent_ode-my_mod/experiments/
latent_ode-my_mod/data/
latent_ode-my_mod/runs/
latent_ode-my_mod_hparam/logs/
latent_ode-my_mod_hparam/experiments/
latent_ode-my_mod_hparam/data/
latent_ode-my_mod_hparam/runs/
latent_ode-my_mod_hparam/wandb/
fieldRNN-my_mod/data
fieldRNN-my_mod
logs/
experiments/
data/
runs/
outputs/
vis/
plots/
outputs/
assets/
wandb/
